# URL del backend (universidad/backend-ecommerce)
VITE_API_URL=http://localhost:3000

# Mercado Pago - Public Key (solo si usas SDK en el frontend, p. ej. formulario de tarjeta)
# VITE_MERCADOPAGO_PUBLIC_KEY=TEST-f2a27a21-cf8d-4807-a33b-b8eaee3680e6
